---
layout: default
---

<article>
    <h2>{{ page.title }}</h2>
    <p>{{ page.content }}</p>
    
    {% if page.more %}
    <div class="more-section">
        <h3>: more</h3>
        <p>{{ page.more | markdownify }}</p>
    </div>
    {% endif %}

    <time><span>{{ page.date | date: "%Y.%m.%d %H:%M" }}</span></time>
</article>

<div class="menu">
    <ul>
        {% if page.previous.url %}
            <li><a href="{{ page.previous.url | relative_url }}">前へ</a></li>
        {% else %}
            <li>前はありません</li>
        {% endif %}
        
        <li>| <a href="{{ '/' | relative_url }}">INDEX</a> |</li>

        {% if page.next.url %}
            <li><a href="{{ page.next.url | relative_url }}">次へ</a></li>
        {% else %}
            <li>次はありません</li>
        {% endif %}
    </ul>
</div>
